{% autoescape off %}
Hi {{ user.username }},

You're receiving this email because you requested a password reset for your account.

To reset your password, send a POST request to the following endpoint with the
`uid`, `token` and `new_password` fields in JSON form (this is a development
app; the frontend will usually do this for you):

http://localhost:8000/api/password_reset_confirm/

The values you need are shown below:

uid: {{ uid }}
token: {{ token }}

(Or you can navigate to a frontend route that collects a new password and
posts them for you.)

If you didn't request a password reset, you can safely ignore this email.

Thanks,
The Blog Spot Team
{% endautoescape %}